/* universal style */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* navbar styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: rgb(71, 71, 71);
}

nav a {
    text-decoration: none;
}

.nav-title {

    Font weight: 800;
    Font size: 45px;
    Row height: 1px;
    Letter spacing: 0%;
    Align: Align left;
}

.text-orange {
    color: rgb(253, 110, 10);
}

.btn-orange {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;

}

/* header related styles */

.header {
    background-color: rgb(255, 248, 243);
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.banner-greetings {
    margin-bottom: 0px;
    Font weight: 600;
    Font size: 40px;
    color: rgb(71, 71, 71);
    padding: 0px;


}

.banner-title {
    margin-top: 5px;
    margin-bottom: 0px;
    color: rgb(24, 24, 24);
    font-size: 80px;
    font-weight: 700;
    padding: 0px;
}

.banner-text {
    margin-top: 7px;
    margin-bottom: 30px;
    color: rgb(117, 117, 117);
    font-size: 12px;
    font-weight: 400;
    padding: 0px;
    max-width: 500px;

}

.profile-pic {
    width: 500px;
}

/* main section styles */

main {
    max-width: 1140px;
    margin: 0px auto;

}

/* about section styles */

.about {
    border-radius: 10px;
    background-color: rgb(255, 248, 243);
    margin: 130px 0px;

    padding: 100px;
    text-align: center;
}

.about-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.about-decription {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    max-width: 500px;
}

.about-info-container {

    display: flex;

    justify-content: space-around;

}

/* what i do */

.section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.section-description {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 50px;
}

/* skills related styles */

.skill-container {
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
}

.skill {
    padding: 30px;
    border-radius: 5px;

    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

/* resume styles */